.mat-mdc-table {
    width: 100%;
    max-height: auto;
    overflow: auto;
  }
  
  .example-container {
    height: auto;
    width: auto;
    max-width: 100%;
    overflow: auto;
  }

.mat-column-description {
  flex: none;
  min-width: 300px;
}
