<div class="page-header">
  <span class="page-title">Company</span>
  <div class="page-action">
    <button mat-raised-button class="btn btn-primary" (click)="openDialog()">
      <mat-icon>add</mat-icon>
      Add Company
    </button>
  </div>
</div>
<div class="page-body da-card list-filter-card">
  <div class="advance-filter-card">
    <div class="filter-header">

      <div class="search-field">
        <mat-icon>search</mat-icon>
        <input type="search" class="form-control" (keyup)="filterCompany($event)" [(ngModel)]="searchTextField"
          id="search" placeholder="Search..">
      </div>
      <div class="divider"></div>
    </div>
  </div>
  <div class="list-card">
  <table mat-table [dataSource]="dataSource" class="mat-elevation-z8 demo-table" matSort
    (matSortChange)="announceSortChange($event)">
    <ng-container matColumnDef="select">
      <th mat-header-cell *matHeaderCellDef>
        Actions
      </th>
      <td mat-cell *matCellDef="let row">
        <button mat-icon-button matTooltip="Basic" [matMenuTriggerFor]="menu"
          aria-label="Example icon-button with a heart icon">
          <mat-icon>more_vert</mat-icon>
        </button>
        <mat-menu #menu="matMenu">
          <button (click)="openDialog(row)" mat-mini-fab aria-label="Edit icon button" class="action-button edit">
            <mat-icon>edit</mat-icon>
          </button>
          <button (click)="deleteCompany(row.company_Id)" mat-mini-fab aria-label="Delete icon button" color="warn"
            class="action-button delete">
            <mat-icon>delete</mat-icon>
          </button>

        </mat-menu>
      </td>
    </ng-container>
    <ng-container matColumnDef="company_Name">
      <th mat-header-cell *matHeaderCellDef mat-sort-header sticky>Company Name </th>
      <td mat-cell *matCellDef="let element"> {{element.company_Name}} </td>
    </ng-container>
    <ng-container matColumnDef="company_Website_Global">
      <th mat-header-cell *matHeaderCellDef mat-sort-header sticky>Company Website Global </th>
      <td mat-cell *matCellDef="let element"> {{element.company_Website_Global}} </td>
    </ng-container>
    <ng-container matColumnDef="headPeriods">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>HeadPeriods </th>
      <td mat-cell *matCellDef="let element"> {{element.headPeriods}} </td>
    </ng-container>
    <ng-container matColumnDef="number_of_Employees">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Number of Employees </th>
      <td mat-cell *matCellDef="let element"> {{element.number_of_Employees}} </td>
    </ng-container>
    <ng-container matColumnDef="type_of_Entity_Public_Private">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Entity Type</th>
      <td mat-cell *matCellDef="let element"> {{element.type_of_Entity_Public_Private}} </td>
    </ng-container>
    <ng-container matColumnDef="sales_Previous_Year">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Sales Previous Year</th>
      <td mat-cell *matCellDef="let element"> {{element.sales_Previous_Year}} </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true;"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
</div>
  <mat-paginator [pageSizeOptions]="[15,30,50,100]" showFirstLastButtons aria-label="Select page of companies">
  </mat-paginator>
</div>