.table-container {
    display: flex;
    flex-direction: column;
    max-height: calc(100vh - 290px);
    overflow: auto;
    border-radius: 5px 5px 0 0;

    table {
        overflow-x: auto;
    }
}

.table-pagination {
    width: 100%;
    background: #fff;
    position: relative;
    display: flex;
    justify-content: flex-end;
    border: 1px solid #e8edf6;
    border-radius: 5px;
    margin-top: 0;
    overflow: hidden;
    padding: 12px 16px;
}