<div class="page-body">
  <aside class="da-sibedar da-sidebar-md {{isOpenManageDMNotesSidebar ? 'da-sidebar-open' : ''}}">
    <div class="sidebar-content">
      <div class="sidebar-header">
        <h6 class="sidebar-title">QCQ Notes</h6>
        <div class="sidebar-action">
          <button mat-raised-button color="primary" [mat-dialog-close]="notesForm" [disabled]="!notesForm.valid">Save</button>
          <a class="link-pointer" (click)="onCloseClick()">
            <mat-icon>close</mat-icon>
          </a>
        </div>
      </div>
      <div class="sidebar-body p-0">
        <div class="p-1">
          <form [formGroup]="notesForm" autocomplete="off">
            <div class="row">
              <div class="col-12">
                <div class="mat-typography"><h3 class="mat-headline-small">QCQ Note : {{getStandardizeColumnName(data.columDetail.column_name)}}</h3></div>
              </div>
            </div>
            <div class="row">
              <div class="col-12">
                <mat-form-field appearance="outline">
                  <mat-label>Message</mat-label>
                  <textarea class="form-control" matInput formControlName="description" cols="20" rows="10"></textarea>
                </mat-form-field>
              </div>

            </div>
          </form>
        </div>

        <div class="p-1">
          <div class="row">
            <div class="col-12">
              
            </div>
          </div>

        </div>
      </div>
    </div>
  </aside>
</div>
