<div class="page-header">
  <span class="page-title">Citation Manager</span>
</div>
<div class="page-body da-card">
  <div class="advance-filter-card">
    <div class="filter-header">
      <div class="search-field">
        <mat-icon>search</mat-icon>
        <input type="search" class="form-control" (keyup)="filterCitationManager($event)" [(ngModel)]="searchTextField"
          id="search" placeholder="Search..">
      </div>
      <div class="divider"></div>
    </div>
  </div>
  @defer () {
    @if(this.citationmanager.length > 0){
      <table mat-table [dataSource]="dataSource" class="mat-elevation-z8 demo-table" matSort
      (matSortChange)="announceSortChange($event)">
      <ng-container matColumnDef="description">
        <th mat-header-cell *matHeaderCellDef mat-sort-header sticky>Description</th>
        <td mat-cell *matCellDef="let element"> {{element.description}} </td>
      </ng-container>
      <ng-container matColumnDef="date">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Date</th>
        <td mat-cell *matCellDef="let element"> {{element.date}} </td>
      </ng-container>
      <ng-container matColumnDef="url">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Url</th>
        <td mat-cell *matCellDef="let element"> {{element.url}} </td>
      </ng-container>
      <ng-container matColumnDef="added_dt">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Added Date</th>
        <td mat-cell *matCellDef="let element"> {{element.added_dt}} </td>
      </ng-container>
      <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true;"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
    }
  }
  <mat-paginator [pageSizeOptions]="[15,30,50,100]" showFirstLastButtons aria-label="Select page of companies">
  </mat-paginator>
</div>