<div class="page-body">
  <aside class="da-sibedar da-sidebar-sm {{isOpenManageCompanySidebar ? 'da-sidebar-open' : ''}}">
    <div class="sidebar-content">
      <div class="sidebar-header">
        <h6 class="sidebar-title">{{ data.mastercode.id > 0 ? 'Edit Mastercode' : 'Add Mastercode' }}</h6>
        <div class="sidebar-action">
          <button mat-raised-button [mat-dialog-close]="mastercodeForm" [disabled]="!mastercodeForm.valid">
            <!--{{ data.mastercode.id > 0 ? 'Save' : 'Add' }}-->
            Save
          </button>
          <a class="link-pointer" (click)="onCloseClick()">
            <mat-icon>close</mat-icon>
          </a>
        </div>
      </div>
      <div class="sidebar-body">
        <form [formGroup]="mastercodeForm" autocomplete="off">
          <mat-form-field appearance="outline">
            <mat-label>Name</mat-label>
            <input matInput placeholder="Enter name" name="name" formControlName="name">

          </mat-form-field>
          <mat-form-field *ngIf="this.isCategoryDropDownShow" appearance="outline">
            <mat-label>Category</mat-label>
            <mat-select formControlName="category">
              <mat-option *ngFor="let category of categories" [value]="category">{{ category }}</mat-option>
            </mat-select>
          </mat-form-field>

            <mat-form-field *ngIf="data.masterCodeCategory == 'Country'" appearance="outline">
              <mat-label>Region</mat-label>
              <mat-select formControlName="region" >
                <mat-option *ngFor="let region of region_Names" [value]="region.name">{{ region.name }}</mat-option>
              </mat-select>
            </mat-form-field>

            <mat-form-field appearance="outline">
              <mat-label>Currency Symbol</mat-label>

              <mat-select formControlName="currency_symbol" >
                <mat-option *ngFor="let currency of currencySymbol_Names" [value]="currency.name">{{ currency.name }}</mat-option>
              </mat-select>
            </mat-form-field>

        </form>
      </div>
    </div>
  </aside>
  </div>
  
