<div class="page-body">
  <aside class="da-sibedar da-sidebar-sm {{isOpenManageCountryProductSidebar ? 'da-sidebar-open' : ''}}">
    <div class="sidebar-content">
      <div class="sidebar-header">
        <h6 class="sidebar-title">{{ data.mastercode.id > 0 ? 'Edit Brand Name' : 'Add Brand Name' }}</h6>
        <div class="sidebar-action">
          <button mat-raised-button [mat-dialog-close]="masterCodeForm" [disabled]="!masterCodeForm.valid">
            Save
          </button>
          <a class="link-pointer" (click)="onCloseClick()">
            <mat-icon>close</mat-icon>
          </a>
        </div>
      </div>
      <div class="sidebar-body">
        <form [formGroup]="masterCodeForm" autocomplete="off">

          <mat-form-field appearance="outline">
            <mat-label>Country</mat-label>

            <input type="text" placeholder="Pick one" aria-label="autoCountry" matInput
                   formControlName="country" [matAutocomplete]="autoCountry">
            <mat-autocomplete #autoCountry="matAutocomplete" (optionSelected)="onCountry_NameChange($event)">
              @for (option of filteredCountryOptions | async; track option.id) {
              <mat-option [value]="option.name">{{option.name}}</mat-option>
              }
            </mat-autocomplete>

          </mat-form-field>

          <mat-form-field appearance="outline">
            <mat-label>Company</mat-label>

            <input type="text" placeholder="Pick one" aria-label="autoCompany" matInput
                   formControlName="company" [matAutocomplete]="autoCompany">
            <mat-autocomplete #autoCompany="matAutocomplete">
              @for (option of filteredCompanyOptions | async; track option.id) {
              <mat-option [value]="option.name">{{option.name}}</mat-option>
              }
            </mat-autocomplete>

          </mat-form-field>

          <mat-form-field appearance="outline">
            <mat-label>US Name</mat-label>

            <input type="text" placeholder="Pick one" aria-label="autoUSname" matInput
                   formControlName="us_name" [matAutocomplete]="autoUSname">
            <mat-autocomplete #autoUSname="matAutocomplete" (optionSelected)="onUSNameChange($event)">
              @for (option of filteredUsNameOptions | async; track option.id) {
              <mat-option [value]="option.name">{{option.name}}</mat-option>
              }
            </mat-autocomplete>

          </mat-form-field>

          <mat-form-field appearance="outline">
            <mat-label>Generic Name</mat-label>

            <input type="text" placeholder="Pick one" aria-label="autoGenericName" matInput
                   formControlName="generic_name" [matAutocomplete]="autoGenericName">
            <mat-autocomplete #autoGenericName="matAutocomplete">
              @for (option of filteredGenericNameOptions | async; track option.id) {
              <mat-option [value]="option.name">{{option.name}}</mat-option>
              }
            </mat-autocomplete>

          </mat-form-field>

          <mat-form-field appearance="outline">
            <mat-label>Product Name</mat-label>
            <input matInput placeholder="Enter product name" name="name" formControlName="name">
          </mat-form-field>

        </form>
      </div>
    </div>
  </aside>
</div>

