<div class="page-body">
  <aside class="da-sibedar da-sidebar-xxl {{isOpenEditDMSidebar ? 'da-sidebar-open' : ''}}">
    <div class="sidebar-content">
      <div class="sidebar-header">
        <h6 class="sidebar-title">Edit Record - {{salesforce_Id}}</h6>
        <div class="sidebar-action">
          <a class="link-pointer" (click)="onCloseClick()">
            <mat-icon>close</mat-icon>
          </a>
        </div>
      </div>
      <div class="sidebar-body p-0">
        <form [formGroup]="dataManagerForm" autocomplete="off">
        <mat-tab-group dynamicHeight (selectedTabChange)="tabChanged($event)">
          <mat-tab label="Sales Force Summary">
            <div class="dm-field-card-list list-column-3">
              <mat-card class="dm-field-card">
                <mat-card-header>
                  <div class="card-title">
                    Salesforce Name
  
                  </div>
                  <div class="card-action">
                    <button mat-icon-button aria-label="Citation" (click)="openCitationPopup('salesforce_Name')">
                      <mat-icon>format_quote</mat-icon>
                    </button>
                    <button mat-icon-button aria-label="Notes" (click)="openNotesPopup('salesforce_Name')">
                      <mat-icon>notes</mat-icon>
                    </button>
                  </div>
                </mat-card-header>
                <mat-card-content>
                
                  
                  <div class="form-field-group addon-btn">
  
                    <mat-form-field appearance="outline">
                      <mat-label>Salesforce Name</mat-label>
                      <input type="text"
                             placeholder="Pick one"
                             aria-label="salesforcename"
                             matInput
                             formControlName="salesforce_Name"
                             [matAutocomplete]="autoSalesforce">
                      <mat-autocomplete autoActiveFirstOption #autoSalesforce="matAutocomplete">
                        @for (option of filteredSalesForceOptions | async; track option.id) {
                          <mat-option [value]="option.name">{{option.name}}</mat-option>
                        }
                      </mat-autocomplete>
                    </mat-form-field>
  
                    <!-- <button type="button" class="form-field-addon-btn" (click)="addMasterCode('salesforce_Name','SalesForce')">
                      <mat-icon>add</mat-icon>
                    </button> -->
                  </div>
                  @defer () {
                    @if(productionData){
                      <p class="field-published-value">
                        {{productionData.salesforce_Name ? productionData.salesforce_Name : '-'}}
                      </p>
                    }
                  }
                  
                </mat-card-content>
              </mat-card>
  
              <mat-card class="dm-field-card">
                <mat-card-header>
                  <div class="card-title">
                   Company Name
  
                  </div>
                  <div class="card-action">
                    <button mat-icon-button aria-label="Citation" (click)="openCitationPopup('company_Name')">
                      <mat-icon>format_quote</mat-icon>
                    </button>
                    <button mat-icon-button aria-label="Notes" (click)="openNotesPopup('company_Name')">
                      <mat-icon>notes</mat-icon>
                    </button>
                  </div>
                </mat-card-header>
                <mat-card-content>
                
                  <mat-form-field appearance="outline">
                    <mat-label>Company Name</mat-label>
                    <mat-select formControlName="company_Name">
                      <mat-option *ngFor="let company of companies_Names" [value]="company.name">{{ company.name }}</mat-option>
                    </mat-select>
                  </mat-form-field>
                  @defer () {
                    @if(productionData){
                    <p class="field-published-value">
                      {{productionData.company_Name ? productionData.company_Name : '-'}}
                    </p>
                  }
                  }
                  
                </mat-card-content>
              </mat-card>
  
              <mat-card class="dm-field-card">
                <mat-card-header>
                  <div class="card-title">
                   Country Name
  
                  </div>
                  <div class="card-action">
                    <button mat-icon-button aria-label="Citation" (click)="openCitationPopup('country_Name')">
                      <mat-icon>format_quote</mat-icon>
                    </button>
                    <button mat-icon-button aria-label="Notes" (click)="openNotesPopup('country_Name')">
                      <mat-icon>notes</mat-icon>
                    </button>
                  </div>
                </mat-card-header>
                <mat-card-content>
                
                  <mat-form-field appearance="outline">
                    <mat-label>Country Name</mat-label>
                    <mat-select formControlName="country_Name">
                      <mat-option *ngFor="let country of countries_Names" [value]="country.name">{{ country.name }}</mat-option>
                    </mat-select>
                  </mat-form-field>
                  @defer () {
                    @if(productionData){
                    <p class="field-published-value">
                      {{productionData.country_Name ? productionData.country_Name : '-'}}
                    </p>
                  }
                  }
                  
                </mat-card-content>
              </mat-card>
  
              <mat-card class="dm-field-card">
                <mat-card-header>
                  <div class="card-title">
                    Period Year
                  </div>
                  <div class="card-action">
                    <button mat-icon-button aria-label="Citation" (click)="openCitationPopup('period_Year')">
                      <mat-icon>format_quote</mat-icon>
                    </button>
                    <button mat-icon-button aria-label="Notes" (click)="openNotesPopup('period_Year')">
                      <mat-icon>notes</mat-icon>
                    </button>
                  </div>
                </mat-card-header>
                <mat-card-content>
                
                  <div class="form-field-group addon-btn">
  
                    <mat-form-field appearance="outline">
                      <mat-label>Period Year</mat-label>
                      <input type="number" [maxlength]="4"
                             placeholder="Pick one"
                             aria-label="periodyear"
                             matInput
                             formControlName="period_Year"
                             [matAutocomplete]="autoYear">
                      <mat-autocomplete autoActiveFirstOption #autoYear="matAutocomplete">
                        @for (option of filteredYearsOptions | async; track option.id) {
                          <mat-option [value]="option.name">{{option.name}}</mat-option>
                        }
                      </mat-autocomplete>
                    </mat-form-field>
  
                    <!-- <button type="button" (click)="addMasterCode('period_Year','Period_Year')" class="form-field-addon-btn">
                      <mat-icon>add</mat-icon>
                    </button> -->
                  </div>
                  @defer () {
                    @if(productionData){
                    <p class="field-published-value">
                      {{productionData.period_Year ? productionData.period_Year : '-'}}
                    </p>
                  }
                  }
                  
                </mat-card-content>
              </mat-card>
  
              <mat-card class="dm-field-card">
                <mat-card-header>
                  <div class="card-title">
                    Period Quarter
                  </div>
                  <div class="card-action">
                    <button mat-icon-button aria-label="Citation" (click)="openCitationPopup('period_Quarter')">
                      <mat-icon>format_quote</mat-icon>
                    </button>
                    <button mat-icon-button aria-label="Notes" (click)="openNotesPopup('period_Quarter')">
                      <mat-icon>notes</mat-icon>
                    </button>
                  </div>
                </mat-card-header>
                <mat-card-content>
                
                  <mat-form-field appearance="outline">
                    <mat-label>Period (Quarter)</mat-label>
                    <mat-select formControlName="period_Quarter">
                      <mat-option *ngFor="let quarter of period_Quarters" [value]="quarter">{{ quarter }}</mat-option>
                    </mat-select>
                    </mat-form-field>
                  @defer () {
                    @if(productionData){
                    <p class="field-published-value">
                      {{productionData.period_Quarter ? productionData.period_Quarter : '-'}}
                    </p>
                  }
                  }
                  
                </mat-card-content>
              </mat-card>
              
              <mat-card class="dm-field-card">
                <mat-card-header>
                  <div class="card-title">
                    Type of Sales Force
  
                  </div>
                  <div class="card-action">
                    <button mat-icon-button aria-label="Citation" (click)="openCitationPopup('type_of_Salesforce')">
                      <mat-icon>format_quote</mat-icon>
                    </button>
                    <button mat-icon-button aria-label="Notes" (click)="openNotesPopup('type_of_Salesforce')">
                      <mat-icon>notes</mat-icon>
                    </button>
                  </div>
                </mat-card-header>
                <mat-card-content>
                
                  <mat-form-field appearance="outline">
                    <mat-label>Type of Sales Force</mat-label>
                    <mat-select formControlName="type_of_Salesforce">
                      <mat-option *ngFor="let type of type_of_salesforce" [value]="type.name">{{ type.name }}</mat-option>
                    </mat-select>
                    </mat-form-field>
                  @defer () {
                    @if(productionData){
                    <p class="field-published-value">
                      {{productionData.type_of_Salesforce ? productionData.type_of_Salesforce : '-'}}
                    </p>
                  }
                  }
                  
                </mat-card-content>
              </mat-card>
  
              <mat-card class="dm-field-card">
                <mat-card-header>
                  <div class="card-title">
                    Number of Sales Representatives
  
                  </div>
                  <div class="card-action">
                    <button mat-icon-button aria-label="Citation" (click)="openCitationPopup('number_Of_Sales_Representatives')">
                      <mat-icon>format_quote</mat-icon>
                    </button>
                    <button mat-icon-button aria-label="Notes" (click)="openNotesPopup('number_Of_Sales_Representatives')">
                      <mat-icon>notes</mat-icon>
                    </button>
                  </div>
                </mat-card-header>
                <mat-card-content>
                
                  <mat-form-field appearance="outline">
                    <mat-label>Number of Sales Representatives</mat-label>
                    <input matInput placeholder="Enter Number of Sales Representatives" type="number"
                      name="number_Of_Sales_Representatives" formControlName="number_Of_Sales_Representatives">
                  </mat-form-field>
                  @defer () {
                    @if(productionData){
                    <p class="field-published-value">
                      {{productionData.number_Of_Sales_Representatives ? productionData.number_Of_Sales_Representatives : '-'}}
                    </p>
                  }
                  }
                  
                </mat-card-content>
              </mat-card>
  
              <mat-card class="dm-field-card">
                <mat-card-header>
                  <div class="card-title">
                    Number of District Managers
                  </div>
                  <div class="card-action">
                    <button mat-icon-button aria-label="Citation" (click)="openCitationPopup('number_Of_District_Managers')">
                      <mat-icon>format_quote</mat-icon>
                    </button>
                    <button mat-icon-button aria-label="Notes" (click)="openNotesPopup('number_Of_District_Managers')">
                      <mat-icon>notes</mat-icon>
                    </button>
                  </div>
                </mat-card-header>
                <mat-card-content>
                
                  <mat-form-field appearance="outline">
                    <mat-label>Number of District Managers</mat-label>
                    <input matInput placeholder="Enter Number of District Managers" type="number"
                      name="number_Of_District_Managers" formControlName="number_Of_District_Managers">
                  </mat-form-field>
                  @defer () {
                    @if(productionData){
                    <p class="field-published-value">
                      {{productionData.number_Of_District_Managers ? productionData.number_Of_District_Managers : '-'}}
                    </p>
                  }
                  }
                  
                </mat-card-content>
              </mat-card>
  
              <mat-card class="dm-field-card">
                <mat-card-header>
                  <div class="card-title">
                    Number of Regional Managers
                  </div>
                  <div class="card-action">
                    <button mat-icon-button aria-label="Citation" (click)="openCitationPopup('number_Of_Regional_Managers')">
                      <mat-icon>format_quote</mat-icon>
                    </button>
                    <button mat-icon-button aria-label="Notes" (click)="openNotesPopup('number_Of_Regional_Managers')">
                      <mat-icon>notes</mat-icon>
                    </button>
                  </div>
                </mat-card-header>
                <mat-card-content>
                
                  <mat-form-field appearance="outline">
                    <mat-label>Number of Regional Managers</mat-label>
                    <input matInput placeholder="Enter Number of Regional Managers" type="number"
                      name="number_Of_Regional_Managers" formControlName="number_Of_Regional_Managers">
                  </mat-form-field>
                  @defer () {
                    @if(productionData){
                    <p class="field-published-value">
                      {{productionData.number_Of_Regional_Managers ? productionData.number_Of_Regional_Managers : '-'}}
                    </p>
                  }
                  }
                  
                </mat-card-content>
              </mat-card>
  
              <mat-card class="dm-field-card">
                <mat-card-header>
                  <div class="card-title">
                    Salary Low
  
                  </div>
                  <div class="card-action">
                    <button mat-icon-button aria-label="Citation" (click)="openCitationPopup('salary_Low')">
                      <mat-icon>format_quote</mat-icon>
                    </button>
                    <button mat-icon-button aria-label="Notes" (click)="openNotesPopup('salary_Low')">
                      <mat-icon>notes</mat-icon>
                    </button>
                  </div>
                </mat-card-header>
                <mat-card-content>
                
                  <mat-form-field appearance="outline">
                    <mat-label>Salary Low</mat-label>
                    <input matInput placeholder="Enter Salary Low" type="number" name="salary_Low"
                      formControlName="salary_Low">
                  </mat-form-field>
                  @defer () {
                    @if(productionData){
                    <p class="field-published-value">
                      {{productionData.salary_Low ? productionData.salary_Low : '-'}}
                    </p>
                  }
                  }
                  
                </mat-card-content>
              </mat-card>
  
              <mat-card class="dm-field-card">
                <mat-card-header>
                  <div class="card-title">
                    Salary High
                  </div>
                  <div class="card-action">
                    <button mat-icon-button aria-label="Citation" (click)="openCitationPopup('salary_High')">
                      <mat-icon>format_quote</mat-icon>
                    </button>
                    <button mat-icon-button aria-label="Notes" (click)="openNotesPopup('salary_High')">
                      <mat-icon>notes</mat-icon>
                    </button>
                  </div>
                </mat-card-header>
                <mat-card-content>
                
                  <mat-form-field appearance="outline">
                    <mat-label>Salary High</mat-label>
                    <input matInput placeholder="Enter Salary High" type="number" name="salary_High"
                      formControlName="salary_High">
                  </mat-form-field>
                  @defer () {
                    @if(productionData){
                    <p class="field-published-value">
                      {{productionData.salary_High ? productionData.salary_High : '-'}}
                    </p>
                  }
                  }
                  
                </mat-card-content>
              </mat-card>
  
              <!-- <mat-card class="dm-field-card">
                <mat-card-header>
                  <div class="card-title">
                    Percentage Split Between Primary Care and Specialty
  
                  </div>
                  <div class="card-action">
                    <button mat-icon-button aria-label="Citation" (click)="openCitationPopup('pct_Split_Between_Primary_Care_And_Specialty')">
                      <mat-icon>format_quote</mat-icon>
                    </button>
                    <button mat-icon-button aria-label="Notes" (click)="openNotesPopup('pct_Split_Between_Primary_Care_And_Specialty')">
                      <mat-icon>notes</mat-icon>
                    </button>
                  </div>
                </mat-card-header>
                <mat-card-content>
                
                  <mat-form-field appearance="outline">
                    <mat-label>Percentage Split Between Primary Care and Specialty</mat-label>
                    <input matInput placeholder="Enter Percentage Split" type="number"
                      name="pct_Split_Between_Primary_Care_And_Specialty"
                      formControlName="pct_Split_Between_Primary_Care_And_Specialty">
                  </mat-form-field>
                  @defer () {
                    @if(productionData){
                    <p class="field-published-value">
                      {{productionData.pct_Split_Between_Primary_Care_And_Specialty ? productionData.pct_Split_Between_Primary_Care_And_Specialty : '-'}}
                    </p>
                  }
                  }
                  
                </mat-card-content>
              </mat-card> -->
  
              <mat-card class="dm-field-card">
                <mat-card-header>
                  <div class="card-title">
                   Frequency
  
                  </div>
                  <div class="card-action">
                    <button mat-icon-button aria-label="Citation" (click)="openCitationPopup('frequency')">
                      <mat-icon>format_quote</mat-icon>
                    </button>
                    <button mat-icon-button aria-label="Notes" (click)="openNotesPopup('frequency')">
                      <mat-icon>notes</mat-icon>
                    </button>
                  </div>
                </mat-card-header>
                <mat-card-content>
                
                  <mat-form-field appearance="outline">
                    <mat-label>Frequency</mat-label>
                    <input matInput placeholder="Enter Frequency" type="number"
                      name="frequency"
                      formControlName="frequency">
                  </mat-form-field>
                  @defer () {
                    @if(productionData){
                    <p class="field-published-value">
                      {{productionData.pct_Split_Between_Primary_Care_And_Specialty ? productionData.pct_Split_Between_Primary_Care_And_Specialty : '-'}}
                    </p>
                  }
                  }
                  
                </mat-card-content>
              </mat-card>
  
              <mat-card class="dm-field-card">
                <mat-card-header>
                  <div class="card-title">
                    Additional Notes
                  </div>
                  <div class="card-action">
                    <button mat-icon-button aria-label="Citation" (click)="openCitationPopup('additional_Notes')">
                      <mat-icon>format_quote</mat-icon>
                    </button>
                    <button mat-icon-button aria-label="Notes" (click)="openNotesPopup('additional_Notes')">
                      <mat-icon>notes</mat-icon>
                    </button>
                  </div>
                </mat-card-header>
                <mat-card-content>
                
                  <mat-form-field appearance="outline">
                    <mat-label>Additional Notes</mat-label>
                    <textarea matInput placeholder="Enter Additional Notes" name="additional_Notes" formControlName="additional_Notes"></textarea>
                  </mat-form-field>
                  @defer () {
                    @if(productionData){
                    <p class="field-published-value">
                      {{productionData.additional_Notes ? productionData.additional_Notes : '-'}}
                    </p>
                  }
                  }
                  
                </mat-card-content>
              </mat-card>
  
              <mat-card class="dm-field-card">
                <mat-card-header>
                  <div class="card-title">
                    Target Bonus
                  </div>
                  <div class="card-action">
                    <button mat-icon-button aria-label="Citation" (click)="openCitationPopup('target_Bonus')">
                      <mat-icon>format_quote</mat-icon>
                    </button>
                    <button mat-icon-button aria-label="Notes" (click)="openNotesPopup('target_Bonus')">
                      <mat-icon>notes</mat-icon>
                    </button>
                  </div>
                </mat-card-header>
                <mat-card-content>
                
                  <mat-form-field appearance="outline">
                    <mat-label>Target Bonus</mat-label>
                    <input matInput placeholder="Enter Target Bonus" type="number" name="target_Bonus"
                      formControlName="target_Bonus">
                  </mat-form-field>
                  @defer () {
                    @if(productionData){
                    <p class="field-published-value">
                      {{productionData.target_Bonus ? productionData.target_Bonus : '-'}}
                    </p>
                  }
                  }
                  
                </mat-card-content>
              </mat-card>
  
              <mat-card class="dm-field-card">
                <mat-card-header>
                  <div class="card-title">
                    Reach
                  </div>
                  <div class="card-action">
                    <button mat-icon-button aria-label="Citation" (click)="openCitationPopup('reach')">
                      <mat-icon>format_quote</mat-icon>
                    </button>
                    <button mat-icon-button aria-label="Notes" (click)="openNotesPopup('reach')">
                      <mat-icon>notes</mat-icon>
                    </button>
                  </div>
                </mat-card-header>
                <mat-card-content>
                
                  <mat-form-field appearance="outline">
                    <mat-label>Reach</mat-label>
                    <input matInput placeholder="Reach" type="number" name="reach" formControlName="reach">
                  </mat-form-field>
                  @defer () {
                    @if(productionData){
                    <p class="field-published-value">
                      {{productionData.reach ? productionData.reach : '-'}}
                    </p>
                  }
                  }
                  
                </mat-card-content>
              </mat-card>
  
              
            </div>
            
          </mat-tab>
  
          <mat-tab label="Product Summary">
            <div class="p-1">
              <div class="row">
                <div class="col-12">
                  <mat-accordion>
                   
               
                      @if(productItems.length > 0)
                      {
                        <section class="example-container mat-elevation-z8" tabindex="0">
                      <div class="table-container">
  
                        <table mat-table [dataSource]="productdataSource" matSort>
  
                          <ng-container matColumnDef="select" sticky>
                            <th mat-header-cell *matHeaderCellDef>
                         Actions
                        </th>
                        <td mat-cell *matCellDef="let row">
                          <button (click)="openEditProductDialog(row)" mat-icon-button aria-label="Edit icon button">
                            <mat-icon>edit</mat-icon>
                          </button>
                          
                        </td>
                        </ng-container>
                        
                          
                          <ng-container matColumnDef="uS_Product_Name_Product_Promoted">
                            <th mat-header-cell *matHeaderCellDef mat-sort-header>Name</th>
                            <td mat-cell *matCellDef="let element">{{element.uS_Product_Name_Product_Promoted}}</td>
                          </ng-container>
                        
                          <ng-container matColumnDef="country_Specific_Product_Name_Product_Promoted">
                            <th mat-header-cell *matHeaderCellDef mat-sort-header>Country Specific Name</th>
                            <td mat-cell *matCellDef="let element">{{element.country_Specific_Product_Name_Product_Promoted}}</td>
                          </ng-container>
                        
                          <ng-container matColumnDef="generic_Name">
                            <th mat-header-cell *matHeaderCellDef mat-sort-header>Generic Name</th>
                            <td mat-cell *matCellDef="let element">{{element.generic_Name}}</td>
                          </ng-container>
                        
                          <ng-container matColumnDef="therapeutic_Category">
                            <th mat-header-cell *matHeaderCellDef mat-sort-header>Therapeutic Category</th>
                            <td mat-cell *matCellDef="let element">{{element.therapeutic_Category}}</td>
                          </ng-container>
                        
                          <ng-container matColumnDef="product_Promotion_Priority_Order">
                            <th mat-header-cell *matHeaderCellDef mat-sort-header>Promotion Priority</th>
                            <td mat-cell *matCellDef="let element">{{element.product_Promotion_Priority_Order}}</td>
                          </ng-container>
                        
                          <ng-container matColumnDef="total_Number_of_Full_Time_Equivalents_FTEs">
                            <th mat-header-cell *matHeaderCellDef mat-sort-header>Total FTEs</th>
                            <td mat-cell *matCellDef="let element">{{element.total_Number_of_Full_Time_Equivalents_FTEs}}</td>
                          </ng-container>
                        
                          <ng-container matColumnDef="primary_Care_Full_Time_Equivalents_FTEs">
                            <th mat-header-cell *matHeaderCellDef mat-sort-header>Primary Care FTEs</th>
                            <td mat-cell *matCellDef="let element">{{element.primary_Care_Full_Time_Equivalents_FTEs}}</td>
                          </ng-container>
                        
                          <ng-container matColumnDef="specialty_Full_Time_Equivalents_FTEs">
                            <th mat-header-cell *matHeaderCellDef mat-sort-header>Specialty FTEs</th>
                            <td mat-cell *matCellDef="let element">{{element.specialty_Full_Time_Equivalents_FTEs}}</td>
                          </ng-container>
                        
                          <ng-container matColumnDef="physicians_Focus_Primary_Care_Physicians_Specialty_Physicians">
                            <th mat-header-cell *matHeaderCellDef mat-sort-header>Physician Focus</th>
                            <td mat-cell *matCellDef="let element">{{element.physicians_Focus_Primary_Care_Physicians_Specialty_Physicians}}</td>
                          </ng-container>
                        
                          <ng-container matColumnDef="specialty_Physicians_Targeted">
                            <th mat-header-cell *matHeaderCellDef mat-sort-header>Specialty Physicians Targeted</th>
                            <td mat-cell *matCellDef="let element">{{element.specialty_Physicians_Targeted}}</td>
                          </ng-container>
                        
                          <ng-container matColumnDef="co_Promotion_YesNo">
                            <th mat-header-cell *matHeaderCellDef mat-sort-header>Co-Promotion</th>
                            <td mat-cell *matCellDef="let element">{{element.co_Promotion_YesNo ? 'Yes' : 'No'}}</td>
                          </ng-container>
                        
                          <ng-container matColumnDef="name_of_a_Partner_Company">
                            <th mat-header-cell *matHeaderCellDef mat-sort-header>Partner Company</th>
                            <td mat-cell *matCellDef="let element">{{element.name_of_a_Partner_Company}}</td>
                          </ng-container>
                        
                          <ng-container matColumnDef="contract_Sales_Force_YesNo">
                            <th mat-header-cell *matHeaderCellDef mat-sort-header>Contract Sales Force</th>
                            <td mat-cell *matCellDef="let element">{{element.contract_Sales_Force_YesNo ? 'Yes' : 'No'}}</td>
                          </ng-container>
                        
                          <ng-container matColumnDef="name_of_a_CSO_Contract_Sales_Organization">
                            <th mat-header-cell *matHeaderCellDef mat-sort-header>CSO</th>
                            <td mat-cell *matCellDef="let element">{{element.name_of_a_CSO_Contract_Sales_Organization}}</td>
                          </ng-container>
                        
                          <ng-container matColumnDef="additional_Notes_Product">
                            <th mat-header-cell *matHeaderCellDef mat-sort-header>Notes</th>
                            <td mat-cell *matCellDef="let element">{{element.additional_Notes_Product}}</td>
                          </ng-container>
                        
                          <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true;"></tr>
                          <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                        </table>
                        
  
                      </div>
                      </section>
                      }@else{
                      <p>Add Products here to display.</p>
                      }
                
                  </mat-accordion>
                  <br />
                </div>
              </div>
  
              
            </div>
          </mat-tab>
  
          <mat-tab label="Notes">
            <div class="p-1">
              <div class="row">
                <div class="col-12">
                  <section class="example-container mat-elevation-z8" tabindex="0">
                    <div class="table-container">
                  @defer () {
                    <table mat-table [dataSource]="notesdataSource" class="mat-elevation-z8 demo-table" matSort>
                 
                      <ng-container matColumnDef="column_name">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header sticky>Column Name</th>
                        <td mat-cell *matCellDef="let element">{{element.column_name}}</td>
                      </ng-container>
                      
                      <ng-container matColumnDef="note_for">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header sticky>Notes For</th>
                        <td mat-cell *matCellDef="let element">{{element.note_for}}</td>
                      </ng-container>
                      
                      <ng-container matColumnDef="type">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header>Notes Type</th>
                        <td mat-cell *matCellDef="let element">{{element.type}}</td>
                      </ng-container>
                      
                      <ng-container matColumnDef="description">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header>Description</th>
                        <td mat-cell *matCellDef="let element">{{element.description}}</td>
                      </ng-container>
                      
                      <ng-container matColumnDef="full_Name">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header>Full Name</th>
                        <td mat-cell *matCellDef="let element">{{element.full_Name}}</td>
                      </ng-container>
                      
                      <ng-container matColumnDef="company_Name">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header>Company Name</th>
                        <td mat-cell *matCellDef="let element">{{element.company_Name}}</td>
                      </ng-container>
                      
                      <ng-container matColumnDef="country_Name">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header>Country Name</th>
                        <td mat-cell *matCellDef="let element">{{element.country_Name}}</td>
                      </ng-container>
                      
                      <ng-container matColumnDef="salesforce_Name">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header>Salesforce Name</th>
                        <td mat-cell *matCellDef="let element">{{element.salesforce_Name}}</td>
                      </ng-container>
                      
                      <ng-container matColumnDef="period_Year">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header>Year</th>
                        <td mat-cell *matCellDef="let element">{{element.period_Year}}</td>
                      </ng-container>
                      
                      <ng-container matColumnDef="period_Quarter">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header>Quarter</th>
                        <td mat-cell *matCellDef="let element">{{element.period_Quarter}}</td>
                      </ng-container>
                      
                      
                      <tr mat-header-row *matHeaderRowDef="displayedNotesColumns; sticky: true;"></tr>
                      <tr mat-row *matRowDef="let row; columns: displayedNotesColumns;"></tr>
                    </table>
                    <mat-paginator [pageSizeOptions]="[15,30,50,100]" showFirstLastButtons aria-label="Select page of notes">
                    </mat-paginator>
                  }
               </div>
               </section>
                </div>
              </div>
  
              
            </div>
          </mat-tab>
        </mat-tab-group>
        </form>
      </div>
    </div>
  </aside>
  </div>
