<div class="page-body">
  <aside class="da-sibedar da-sidebar-sm {{isOpenManageClientSidebar ? 'da-sidebar-open' : ''}}">
    <div class="sidebar-content">
      <div class="sidebar-header">
        <h6 class="sidebar-title">Add Client</h6>
        <div class="sidebar-action">
          <button mat-raised-button [mat-dialog-close]="clientForm" [disabled]="!clientForm.valid">
            Save
          </button>
          <a class="link-pointer" (click)="onCloseClick()">
            <mat-icon>close</mat-icon>
          </a>
        </div>
      </div>
      <div class="sidebar-body">
        <form [formGroup]="clientForm" autocomplete="off">

          <mat-form-field appearance="outline">
            <mat-label>User</mat-label>
            <mat-select formControlName="userID">
              <mat-option *ngFor="let user of userList" [value]="user.id">{{ user.name }}</mat-option>
            </mat-select>
          </mat-form-field>

          <mat-form-field appearance="outline">
            <mat-label>Client Email ID</mat-label>
            <input type="email" matInput placeholder="Enter Email" name="emailID" formControlName="emailID">

          </mat-form-field>

        </form>
      </div>
    </div>
  </aside>
</div>

